body {
  background-color: #d3d3d3;
}

.header {
  height: 10vh;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: black;
}

.title {
  font-family: 'Eczar', serif;
  font-size: 1.5em;
}

.content {
  padding: 2em;
  display: flex;
  justify-content: space-evenly;
}